@media screen and (max-width: 992px) {
  /****************************** Content -> info ****************************************/
  .section-info > p {
    width: 100%;
  }
  /******************* Content -> Accommodations + Popular *************************************/
  .section-accommodations-and-popular {
    flex-direction: column-reverse;
  }
  .image-box {
    display: flex;
    height: 110px;
  }

  /****************************** -> Popular *****************************************/
  .section-popular {
    margin: 20px auto;
    width: 100%;
    padding: 0 0 25px 0;
    background-color: white;
  }
  .section-popular-cards {
    flex-direction: row;
    overflow: scroll;
  }
  .section-popular-cards > * {
    margin-right: 20px;
  }
  .section-pop-card-info img {
    border-radius: 10px 0px 0px 10px;
  }

  /****************************** -> Accomodations *****************************************/
  .section-accommodations {
    margin: 0 auto;
    width: 700px;
  }
  .section-accommodations > h3,
  .section-accommodations > h4 {
    text-align: center;
  }
  .section-accommodations-cards {
    margin: 20px auto;
    justify-content: space-around;
  }
  .section-acc-card-info {
    width: 290px;
  }

  /********************************* Footer **********************************************/
  footer {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-col > a {
    font-size: 15px;
  }
}
