* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray: #f2f2f2;
  --footer-h-desktop: 150px;
  --header-h: 65px;
}
html {
  max-height: 100%;
}
body {
  margin: 0;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: black;
  height: auto;
  display: flex;
  min-height: 100vh; /* pushes the footer to the bottom*/
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
}

/******************************* Header and Navbar *******************************************/

.header-container {
  position: relative;
  display: flex;
}

#logo {
  width: 100px;
  height: 100%;
  margin: 15px 0 auto 40px;
}

#nav-container {
  position: absolute;
  right: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#nav-container > a {
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
a:visited {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
#nav-container > a:hover {
  color: var(--blue);
  border-top: solid var(--blue) 3px;
}

/************************************ Content *******************************************/
.content {
  overflow: scroll;
  flex: 1;
  width: 100%;
  padding: 40px;
}
.section-title > p {
  opacity: 0.7;
  font-size: 15px;
  padding: 10px 0 30px 0;
}
/*********************************** Content -> Search *****************************************/
.search {
  display: flex;
  height: 40px;
}
*:focus {
  outline: none;
}
.search-location {
  width: 36px;
  border-start-start-radius: 10px 10px;
  border-end-start-radius: 10px 10px;
  background-color: var(--gray);
}
.search-location > i {
  padding: 10px 0 0px 14px;
}
.search > button:hover {
  cursor: pointer;
}
.search > button {
  width: 85px;
  background-color: var(--blue);
  border: none;
  border-start-end-radius: 10px 10px;
  border-end-end-radius: 10px 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

#searchbar-input {
  border: solid var(--gray) 1px;
  padding: 0 15px;
  width: 200px;
  font-weight: 600;
  font-size: 15px;
}
.fa-search {
  display: none;
}

/******************************** Content -> Filter ****************************************/
.section-filters {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.filter-title {
  margin: auto 20px auto 0;
  padding-top: 20px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-item:hover {
  cursor: pointer;
}
.filter-item:hover,
.filter-item > p:hover {
  cursor: pointer;
  color: var(--blue);
}
.filter-item {
  display: flex;
  position: relative;
  padding-right: 10px;
  margin-top: 20px;
}

.filter-item > i {
  background-color: var(--light-blue);
  border-radius: 20px;
  margin-top: 1px;
  padding: 11px;
  position: absolute;
}

.child-icon > i {
  padding: 11px 14px;
}

.filter-item > p {
  padding: 9px 20px 9px 50px;
  border: solid 2px rgba(217, 216, 216, 0.654);
  min-width: 150px;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
}

/****************************** Content -> info ****************************************/

.section-info {
  font-size: 15px;
  margin: 30px 0 15px 0;
  display: flex;
  align-items: flex-start;
}
.section-info > i {
  padding: 8px;
  border: solid var(--gray) 2px;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.section-info > p {
  width: 370px;
  padding-top: 5px;
  opacity: 0.7;
  white-space: pre-wrap;
  line-height: 1.5;
}

/******************* Content -> Accommodations + Popular *************************************/

.section-accommodations-and-popular {
  display: flex;
}

/****************************** -> Accomodations *****************************************/

.section-accommodations {
  background-color: var(--gray);
  padding: 40px 25px;
  border-radius: 20px;
  margin-right: 25px;
  height: 100%;
  width: 65vw;
}
.section-accommodations-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}
.section-acc-card-info:hover {
  cursor: pointer;
}
.section-acc-card-info:hover .section-card-text strong {
  cursor: pointer;
  color: var(--blue);
}
.section-acc-card-info {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 31%;
  padding: 6px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 5px rgba(218, 215, 215, 0.391);
}
.section-card-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-left: 10px;
}
.section-card-text > p {
  padding: 5px 0;
  opacity: 0.7;
  font-size: 13.5px;
}
.image-box {
  display: flex;
  height: 120px;
}
.image-box > img {
  width: 100%;
  object-fit: cover;
}
.section-acc-card-info img {
  margin-bottom: 10px;
  border-radius: 15px 15px 0 0;
}
/***************************** -> Popular *********************************************/
.section-popular {
  background-color: var(--gray);
  padding: 40px 30px 10px 30px;
  border-radius: 20px;
  width: 33vw;
}
.popular-title-star {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-popular-cards {
  display: flex;
  flex-direction: column;
}
.section-pop-card-info:hover {
  cursor: pointer;
}
.section-pop-card-info:hover .section-card-text strong {
  cursor: pointer;
  color: var(--blue);
}
.section-pop-card-info {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 6px;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 5px rgba(218, 215, 215, 0.391);
}
.section-popular .section-card-text {
  justify-content: space-between;
  margin-left: 15px;
}

.section-pop-card-info img {
  border-radius: 10px 0px 0px 10px;
  max-width: 130px;
}

.popular-img {
  width: 200px;
}
/***************************** Content -> Activities *********************************************/
#activities {
  margin: 50px 0 20px 0;
  border-top: solid 2px red;
}
.section-activities-cards {
  display: flex;
  height: 300px;
  margin-top: 20px;
  justify-content: space-between;
}
/******************* Activities > one Image Box *************/
.section-activities-one-img {
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 5px 5px rgba(218, 215, 215, 0.391);
  border-radius: 0 0 15px 15px;
}
.section-activities-one-img > img {
  max-width: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 85%;
}
.section-activities-one-img > h5 {
  padding: 15px;
}
/******************* Activities > Two Images Box *************/
.section-activities-two-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-activities-two-img > div {
  height: 45%;
}
.section-activities-two-img-top,
.section-activities-two-img-bottom {
  box-shadow: 0px 5px 5px rgba(218, 215, 215, 0.391);
  border-radius: 0 0 15px 15px;
}
.section-activities-two-img-top > img,
.section-activities-two-img-bottom > img {
  max-width: 220px;
  width: 100%;
  object-fit: cover;
  max-height: 70%;
  border-radius: 15px 15px 0 0;
}
.section-activities-two-img-top > h5,
.section-activities-two-img-bottom > h5 {
  padding: 15px;
}

/************************************ Footer *********************************************/

footer {
  background-color: var(--gray);
  width: 100%;
  height: var(--footer-h-desktop);
  background: var(--gray);
  font-size: 13px;
  display: flex;
  padding: 25px 40px;
  text-align: left;
  position: relative;
}
.footer-col > a {
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 15px;
}
.footer-under-links {
  opacity: 0.8;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.footer-col-second {
  margin: 0 15%;
}
