@media screen and (max-width: 992px) {
  /******************************** Header and Navbar  *********************************/
  .header-container {
  }
  /********************************** Content *******************************************/
  .content {
  }

  /********************************** Content -> Search ************************************/
  .search > button {
  }

  /********************************* Footer **********************************************/
  footer {
    display: flex;
    justify-content: space-evenly;
  }
  .footer-col {
  }
  .footer-col > a {
    font-size: 15px;
  }
}
