@media screen and (max-width: 768px) {
  /******************************** Header and Navbar  *********************************/
  .header-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #logo {
    width: 110px;
    margin: 15px auto;
    padding-left: 30px;
  }
  #nav-container {
    position: relative;
    right: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }
  #nav-container > a {
    padding-bottom: 13px;
    margin: 0;
    width: 100%;
    border-bottom: solid var(--gray) 2px;
  }
  #nav-container > a:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid var(--blue) 3px;
  }

  /*************************************** Content *******************************************/
  .content {
    background-color: rgb(187, 187, 164);
  }

  /*************************************** Footer *********************************************/
  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .footer-col {
    all: unset;
    padding: 13px 11px;
  }
  .footer-col > a {
    font-size: 15px;
  }
}
