* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #0065fc;
  --light-blue: #deebff;
  --gray: #f2f2f2;
  --footer-h-desktop: 150px;
  --header-h: 65px;
}

body {
  margin: 0;
  position: relative;
  font-family: "Raleway", sans-serif;
  color: black;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/************************************ Header and Navbar **********************************************/

.header-container {
  position: relative;
  display: flex;
}

#logo {
  width: 100px;
  height: 100%;
  margin: 15px 0 auto 40px;
}

#nav-container {
  position: absolute;
  right: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#nav-container > a {
  padding: 0 12px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
a:visited {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
#nav-container > a:hover {
  color: var(--blue);
  border-top: solid var(--blue) 3px;
}

/************************************ Content *******************************************/
.content {
  overflow: scroll;
  flex: 1;
  width: 100%;
}
/************************************ Search *******************************************/
.search {
  display: flex;
}

/************************************ Footer *********************************************/

footer {
  background-color: var(--gray);
  width: 100%;
  height: var(--footer-h-desktop);
  background: var(--gray);
  font-size: 13px;
  display: inline-flex;
  padding: 25px 40px;
  text-align: left;
  position: relative;
}
.footer-col > a {
  font-weight: 700;
  letter-spacing: 0.7px;
  font-size: 15px;
}
.footer-under-links {
  opacity: 0.8;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.footer-col-second {
  margin: 0 15%;
}
