@media screen and (max-width: 768px) {
  /******************************** Header and Navbar  *********************************/
  .header-container {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #logo {
    width: 110px;
    margin: 15px auto;
    padding-left: 30px;
  }
  #nav-container {
    position: relative;
    right: 0;
    width: 100%;
    justify-content: space-around;
    padding: 0;
  }
  #nav-container > a {
    padding-bottom: 13px;
    justify-content: center;
    margin: 0;
    width: 100%;
    border-bottom: solid var(--gray) 2px;
  }
  #nav-container > a:hover {
    color: var(--blue);
    border-top: none;
    border-bottom: solid var(--blue) 5px;
  }

  /*************************************** Content *******************************************/
  .content {
    margin: 0px;
    padding: 40px 0px;
  }
  .content > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  /*************************************** Content -> Search ********************************/
  .search-filters {
    margin: 0 20px;
  }
  .search {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #searchbar-input {
    width: 100%;
  }

  .fa-search + p {
    display: none;
  }
  .fa-search {
    display: inline;
  }

  .search > button {
    position: absolute;
    width: 50px;
    right: 0;
    height: 100%;
    border-radius: 10px;
  }

  /******************* Content -> Accommodations + Popular *************************************/

  .section-accommodations-and-popular {
    flex-direction: column-reverse;
    overflow: hidden;
    margin: 0 auto;
    width: 380px;
  }

  /****************************** -> Popular *****************************************/
  .section-popular {
    margin: 10px auto;
    width: 100%;
    border-radius: 0px;
    background-color: var(--gray);
    padding: 30px 10px;
  }
  .section-popular-cards {
    flex-direction: column;
    overflow: hidden;
  }

  .popular-title-star {
    margin: auto;
    width: 360px;
    padding-bottom: 20px;
  }

  .section-pop-card-info {
    margin: 10px auto;
    max-width: 370px;
    display: flex;
  }

  .section-card-text {
    padding: 2px;
    justify-content: space-between;
    margin-left: 15px;
  }

  .section-pop-card-info img {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    object-fit: fill;
  }
  /****************************** -> Accomodations *****************************************/
  .section-accommodations {
    margin: 10px auto;
    width: 100%;
    background-color: white;
  }

  .section-accommodations-cards {
    flex-direction: column;
    max-width: 410px;
  }
  .section-acc-card-info {
    width: 100%;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 5px rgb(225, 222, 222);
  }

  .image-box > img {
    max-width: 100%;
    object-fit: cover;
  }
  /***************************** Content -> Activities *********************************************/
  #activities {
    margin: 50px auto;
    height: 100%;
    max-width: 410px;
    padding: 10px 10px;
    width: 100%;
  }
  #activities > h3 {
    padding: 0;
  }

  .section-activities-cards {
    flex-direction: column;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-activities-cards h5 {
    padding: 20px;
  }
  /******************* Activities > one Image Box *************/
  .section-activities-one-img {
    max-width: 95%;
    margin: 0;
    margin-bottom: 20px;
  }

  .section-activities-one-img > img {
    width: 100%;
    height: 110px;
  }
  /******************* Activities > Two Images Box *************/

  .section-activities-two-img {
    max-width: 95%;
    margin: 0;
    height: 100%;
  }

  .section-activities-two-img-top,
  .section-activities-two-img-bottom {
    max-width: unset;
    margin: 0;
    margin-bottom: 20px;
  }
  .section-activities-two-img-top > img,
  .section-activities-two-img-bottom > img {
    height: 110px;
  }
  /*************************************** Footer *********************************************/
  footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .footer-col {
    all: unset;
    padding: 13px 11px;
  }
  .footer-col > a {
    font-size: 15px;
  }
}
